body {
    background: url('../img/type.png') repeat scroll;
    color: white !important;
    height: 100%;
}

.navbar-brand h1 {
    margin-top: -10px;
    color: #333;
}

nav {
    border-radius: 0px !important;
}

#img-header {
    margin-top: -20px;
    background: url('../img/presentation/biocode.jpg') no-repeat scroll center;
    background-size: cover;
    min-height: 500px;
}

#img-profile {
    width: 204px;
    border: 2px solid #22223e;
}

.flex {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

#wrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -40px;
    padding-bottom: 60px;
}

ul[role="tablist"] {
    margin-bottom: 25px;
}

footer {
    background: #CCCCCC !important;
    border-top: 1px solid #EEEEEE !important;
    color: black;
}

footer .container {
    margin-top: 12px;
}

footer .navbar-right img {
    margin: -4px 5px 0 5px;
}