.tab-content {
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    border-radius: 5px;
}

#logo-descartes {
    background: white;
    padding: 5px;
}

#logo-ingesup {
    padding: 5px;
    background: white;
}

#logo-grdopt {
    background: white;
    padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #logo-hoche {
        margin-top: 10px;
    }
    #logo-descartes {
        margin-top: 140px;
    }
    #logo-ingesup {
        margin-top: 140px;
    }
    #logo-grdopt {
        margin-top: 15px;
    }
    #logo-aps {
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #logo-descartes {
        margin-top: 130px;
    }
    #logo-ingesup {
        margin-top: 85px;
    }
    #logo-aps {
        margin-top: 15px;
    }
}

@media screen and (min-width: 1200px) {
    #logo-descartes {
        margin-top: 110px;
    }
    #logo-ingesup {
        margin-top: 70px;
    }
    #logo-aps {
        margin-top: 5px
    }
}